<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'UWPSender' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>51a5d973-03ed-450e-adb7-b8fbb884f34b</InstrumentationKey>
</ApplicationInsights>